.container {
  padding-top: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.comingSoon {
  max-width: 500px;
  font-size: 2vw;
  text-align: center;
  color:white; 
  padding: 20px;
}